<h1>Read something you duck</h1>
<div class="center"><i class="fa-brands fa-wordpress"></i></div>

<ul>
  <% @articles.each do |article| %>
    <li><p class="green"><%= link_to article.title, article_path(article) %></p></li>
  <% end %>
</ul>

<container><div class="pretty"><h3><%= link_to 'Add article', new_path %></h3></div></container>
